PL/Service References/ServiceReference1/Departamento.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Departamento" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:10027/Departamento.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:10027/Departamento.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:10027/Departamento.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ML" />
      <xsd:import schemaLocation="http://localhost:10027/Departamento.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:10027/Departamento.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SL_WCF" />
      <xsd:import schemaLocation="http://localhost:10027/Departamento.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDepartamento_AddEF_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEF" />
  </wsdl:message>
  <wsdl:message name="IDepartamento_AddEF_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEFResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartamento_UpdateEF_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEF" />
  </wsdl:message>
  <wsdl:message name="IDepartamento_UpdateEF_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEFResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartamento_DeleteEF_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEF" />
  </wsdl:message>
  <wsdl:message name="IDepartamento_DeleteEF_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEFResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartamento_GetAllEF_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEF" />
  </wsdl:message>
  <wsdl:message name="IDepartamento_GetAllEF_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEFResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartamento_GetByIdEF_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdEF" />
  </wsdl:message>
  <wsdl:message name="IDepartamento_GetByIdEF_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdEFResponse" />
  </wsdl:message>
  <wsdl:portType name="IDepartamento">
    <wsdl:operation name="AddEF">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartamento/AddEF" message="tns:IDepartamento_AddEF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartamento/AddEFResponse" message="tns:IDepartamento_AddEF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEF">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartamento/UpdateEF" message="tns:IDepartamento_UpdateEF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartamento/UpdateEFResponse" message="tns:IDepartamento_UpdateEF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEF">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartamento/DeleteEF" message="tns:IDepartamento_DeleteEF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartamento/DeleteEFResponse" message="tns:IDepartamento_DeleteEF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEF">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartamento/GetAllEF" message="tns:IDepartamento_GetAllEF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartamento/GetAllEFResponse" message="tns:IDepartamento_GetAllEF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByIdEF">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartamento/GetByIdEF" message="tns:IDepartamento_GetByIdEF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartamento/GetByIdEFResponse" message="tns:IDepartamento_GetByIdEF_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDepartamento" type="tns:IDepartamento">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddEF">
      <soap:operation soapAction="http://tempuri.org/IDepartamento/AddEF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEF">
      <soap:operation soapAction="http://tempuri.org/IDepartamento/UpdateEF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEF">
      <soap:operation soapAction="http://tempuri.org/IDepartamento/DeleteEF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEF">
      <soap:operation soapAction="http://tempuri.org/IDepartamento/GetAllEF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByIdEF">
      <soap:operation soapAction="http://tempuri.org/IDepartamento/GetByIdEF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Departamento">
    <wsdl:port name="BasicHttpBinding_IDepartamento" binding="tns:BasicHttpBinding_IDepartamento">
      <soap:address location="http://localhost:10027/Departamento.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>